In [94]:
# CASE 1
# Write a Python program that creates a new database in a file called original.db 
# containing a single table called Pressure, with a single field called reading, 
# and inserts 100,000 random numbers between 10.0 and 25.0.

# import libriaries
import sqlite3
import random
import pandas as pd

In [116]:
# instantiate connection and cursor object
connection = sqlite3.connect("original.db")
cursor = connection.cursor()

In [111]:
# add and empty table
cursor.execute ("CREATE TABLE Pressure_Final (reading INTEGER)")

ProgrammingError: Cannot operate on a closed database.

In [102]:
# create a list of 300000 random numbers from 10 to 25
rand_list=[]
n=100000
for i in range(n):
    rand_list.append(random.randint(10,25)) 
type(rand_list)

list

In [106]:
# create a query
query = "INSERT INTO Pressure_Final (reading) VALUES (?);"

# iterate over random list to add every integer into a DB
for number in rand_list:
    cursor.execute(query, [number])
connection.commit()

In [108]:
# check yourself by creating and printing out the database from our Table
df = pd.read_sql_query("SELECT * FROM Pressure_Final;",connection)
print (df)

       reading
0           24
1           25
2           25
3           17
4           12
...        ...
99995       19
99996       14
99997       21
99998       19
99999       25

[100000 rows x 1 columns]

In [110]:
# close connection
connection.close()

In [139]:
# CASE 2.
# Write a Python program that creates a new database called backup.db with the same structure as original.db 
# and copies all the values greater than 20.0 from original.db to backup.db.

# import libriaries
import sqlite3
import random
import pandas as pd

In [140]:
# instantiate original connection and cursor object
connection_original = sqlite3.connect("original.db")
cursor_original = connection_original.cursor()

In [141]:
# make query to select the values greater than 20
cursor_original.execute("SELECT * FROM Pressure WHERE reading > 20;")
# fetch the values to a list
results = cursor_original.fetchall()

In [142]:
# close cursor and connection
cursor_original.close()
connection_original.close()

In [143]:
#create backup connection and cursor
connection_backup = sqlite3.connect("backup.db")
cursor_backup = connection_new.cursor()

In [144]:
# create an empty table
cursor_backup.execute ("CREATE TABLE Pressure_backup (reading INTEGER)")

# and a query
query = "INSERT INTO Pressure_backup (reading) VALUES (?);"

OperationalError: table Pressure_backup already exists

In [145]:
# iterate through list 'results' to add values to backup DB
for i in results:
    cursor_backup.execute(query, i)

In [138]:
# commit changes to DB and close connections
cursor_backup.close()
connection_backup.commit()
connection_backup.close()

In [147]:
# CASE 3
# Write a small Python program that reads this file in and INSERTs these records into the survey database. 
# Note: you will need to add an entry for Olmstead to the Person table. 

# import libriary
import sqlite3

OperationalError: table Survey already exists

In [ ]:
# create connection and cursor
connection = sqlite3.connect("survey.db")
cursor = connection.cursor()

In [ ]:
# create an empty table
cursor.execute ("CREATE TABLE Survey (Taken INTEGER PRIMARY KEY, Temp FLOAT NOT NULL)")

In [148]:
# insert two readings into DB
cursor.execute ("INSERT INTO Survey VALUES (619,-21.5)")
cursor.execute ("INSERT INTO Survey VALUES (622,-15.5)")

In [149]:
# commit changes to DB and close connections
cursor.close()
connection.commit()
connection.close()